{{>header}}
{{>navbar}}
    <section class="container my-4">
        <form class="border border-primary p-3" method="post">
            <div class="mb-3">
                <input name="fname" class="form-control" placeholder="First Name">
            </div>
            <div class="mb-3">
                <input name="lname" class="form-control" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input name="Email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
                <label class="mb-3 form-label">Address Details: </label>
                <div class="row">
                    <div class="mb-3"><input name="city" class="form-control" placeholder="City"></div>
                    <div class="mb-3"><input name="street" class="form-control" placeholder="Street"></div>
                    <div class="mb-3"><input name="building" class="form-control" placeholder="Building Number" type="number"></div>
                </div>
            </div>
            <div class="mb-3">
                <input name="IntialBalance" class="form-control" placeholder="Intial Balance" type="number">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">ADD New Customer</button>
            </div>
        </form>
    </section>
{{>footer}}