{{>header}}
{{>navbar}}
<div class="container my-5 text-center">
    <p class="alert alert-danger my-3">
        {{errMsg}}<br>
        <a href="/" class="btn btn-primary my-3">back home</a>
    </p>
</div>
{{>footer}}